<div class='container'>
  <div class='row'>
    <div class='col-md-3'>
      <h2>Owner info</h2>
      <%= render 'users/info',user: @group.owner %>
      <h2 class="mt-3">New book</h2>
      <%= render 'books/form', book: Book.new %>
    </div>
    <div class='col-md-8 offset-md-1'>
      <h2>Group detail</h2>
      <table class='table'>
        <thead>
          <tr>
            <th></th>
            <th>グループ名</th>
            <th>紹介文</th>
            <th>メンバー</th>
            <th colspan="2"></th>
          </tr>
        </thead>
       <tbody>
          <tr>
            <td><%= image_tag @group.get_image(50, 50) %></td>
            <td><%= @group.name %></td>
            <td><%= @group.introduction %></td>
            <td><%= simple_format @group.users.pluck(:name).join("\n") %></td>
            <% if @group.owner?(current_user) %>
              <td><%= link_to 'Edit', edit_group_path(@group), class: "btn btn-sm btn-success" %></td>
              <td><%= link_to 'Notice an Event', new_group_group_event_path(@group), class: "btn btn-sm btn-info" %></td>
            <% else %>
              <% if @group.member?(current_user) %>
                <td><%= link_to 'Leave this group', group_group_user_path(@group), method: :delete, class: "btn btn-sm btn-danger" %></td>
              <% else %>
                <td><%= link_to 'Join this group', group_group_user_path(@group), method: :post, class: "btn btn-sm btn-success" %></td>
              <% end %>
            <% end %>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>