<h3>7日間分の投稿数</h3>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>6日前</th>
      <th>5日前</th>
      <th>4日前</th>
      <th>3日前</th>
      <th>2日前</th>
      <th>1日前</th>
      <th>今日</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= user.books.created_target_day(6).size %></td>
      <td><%= user.books.created_target_day(5).size %></td>
      <td><%= user.books.created_target_day(4).size %></td>
      <td><%= user.books.created_target_day(3).size %></td>
      <td><%= user.books.created_target_day(2).size %></td>
      <td><%= user.books.created_target_day(1).size %></td>
      <td><%= user.books.created_today.size %></td>
    </tr>
  </tbody>
</table>
<div>
  <canvas id="myChart"></canvas>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
  const ctx = document.getElementById('myChart');

  new Chart(ctx, {
    type: 'line',
    data: {
      labels: ['6日前', '5日前', '4日前', '3日前', '2日前', '1日前', '今日'],
      datasets: [{
        label: '投稿した本の数',
        data: [
          <%= user.books.created_target_day(6).size %>,
          <%= user.books.created_target_day(5).size %>,
          <%= user.books.created_target_day(4).size %>,
          <%= user.books.created_target_day(3).size %>,
          <%= user.books.created_target_day(2).size %>,
          <%= user.books.created_target_day(1).size %>,
          <%= user.books.created_today.size %>
        ],
        borderWidth: 3,
        tension: 0.5
      }]
    },
    options: {
      title: {
        display: true,
        text: '7日間の投稿数の比較'
      },
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });
</script>
