<table class='table'>
  <tr><%= image_tag user.get_profile_image(100, 100) %></tr>
  <tr>
    <th>name</th>
    <th><%= user.name %></th>
  </tr>
  <tr>
    <th>introduction</th>
    <th><%= user.introduction %></th>
  </tr>
  <tr>
  <th>follows</th>
    <th><%= link_to user.followings.count, following_user_path(user) %></th>
  </tr>
  <tr>
    <th>followers</th>
    <th><%= link_to user.followers.count, followers_user_path(user) %></th>
  </tr>
</table>

<div class="row">
  <% unless user == current_user %>
    <%= render "relationships/follow_button", user: user %>
  <% end %>
  <!--相互フォロー-->
  <% if current_user.mutual_follow?(user) %>
    <%= button_to "chatを始める", conversations_path, params: { user_id: user.id }, method: :post, class: "btn btn-link ml-2" %>
  <% end %>
</div>
<% if user == current_user %>
  <div class="row mt-2">
    <%= link_to edit_user_path(user), class: "btn btn-outline-secondary btn-block" do %>
      <i class="fas fa-user-cog"></i>
    <% end %>
  </div>
<% end %>